.added-to-cart-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  .added-to-cart-product {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100px;
      margin-right: 1em;
    }
    .added-to-cart-product-info {
      .book-title {
        font-size: 1.5em;
      }
      .added-to-cart-product-text {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        i {
          margin-right: 0.3em;
          font-size: 1em;
        }
      }
    }
  }
}
