.product-main-info {
  margin: 0 2em;
  width: 50%;
  h1 {
    margin: 0;
    margin-bottom: 0.2em;
  }
  .product-main-info-author {
    margin-bottom: 0.5em;
  }

  .product-description {
    text-align: justify;
  }
}
